Exercise 2 - Create a markdown cell with title of the notebook using H1 style heading.

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction. Write the introductory sentence below. 

### In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Below the introduction cell, insert a new markdown cell to do an unordered list of 3-5 objectives. Do introductory line as 'Objectives' in bold font.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List some data science tools
- Do arithmetic expressions on code cells

Exercise 4 - Create a markdown cell to list the data science languages. Start with the overview line then the ordered list. 

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Exercise 5 - Create a markdown cell to list data science libraries. Start with the overview line then the ordered list. 

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

Exercise 6 - Create a single column table with the 1st row containing the header Data Science Tools. The subsequent 3 rows in the table shoud indicate 3 development open source tools used in Data Science.

|Data Science Tools|
|:-|
|RStudio           |
|Apache Spark      |
|TensorFlow        |

Exercise 7 - Create a markdown cell with the line below using H3 heading. 

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# Exercise 8 - Create a code cell to multiply and add numbers

# This is a simple arithmetic expression to multiply then add integers. 
(3*4)+5

17

In [2]:
# Exercise 9 - Create a code cell to convert 200 minutes to hours.

# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

Exercise 11 - Create a markdown cell with 'Author' in H2 style heading and your name in regular text below the word 'Author'. 

## Author
Jorelie